<h1>Dashboard</h1>
<p>On est sur le tableau de bord.</p>

<h2>Informations User</h2>

<ul>
  <li>ID : <%= current_user.id %></li>
  <li>Email : <%= current_user.email %></li>
  <li>Photo : <%= current_user.photo %></li>
  <li>Langue : <%= current_user.langage %></li>
  <li>Compte créé le : <%= current_user.created_at %></li>
  <li>Admin : <%= current_user.is_admin? %></li>
  <li>Nombre de logs : <%= current_user.sign_in_count %></li>
  <li>Session créé depuis : <%= current_user.current_sign_in_at %></li>
  <li>Dernière connexion : <%= current_user.last_sign_in_at %></li>
  <li>IP de connexion actuelle : <%= current_user.current_sign_in_ip %></li>
  <li>IP utilisée la dernière fois : <%= current_user.last_sign_in_ip %></li>
</ul>

<h2>Sites</h2>

<% current_user.sites.each do |site| %>
  <p><%= site.url %></p>
<% end %>

<p>Ajouter un site : <%= link_to "Ajouter un site", new_site_path %></p>
