<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pourtest.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @pourtest.surname %>
</p>

<%= link_to 'Edit', edit_pourtest_path(@pourtest) %> |
<%= link_to 'Back', pourtests_path %>
